<nav class="c-page__nav">
  {% if page.prev_page %}
    {% if page.prev_page.title | size < 40 %}
      {% capture PREV_PAGE %}{{ page.prev_page.title}}{% endcapture %}
    {% else %}
      {% capture PREV_PAGE %}{{ page.prev_page.title | truncate: 37 | append "..."}}{% endcapture %}
    {% endif %}
    <a id="js-page__nav__prev" class="c-page__nav__prev" href="{{ page.prev_page.url | relative_url }}">
      〈 <span class="u-margin-right-tiny"></span> {{ page.prev_page.title | truncate: 37 }}
    </a>
  {% endif %}

  {% if page.next_page %}
    {% if page.next_page.title | size < 40 %}
      {% capture NEXT_PAGE %}{{ page.next_page.title}}{% endcapture %}
    {% else %}
      {% capture NEXT_PAGE %}{{ page.next_page.title | truncate: 37 | append "..."}}{% endcapture %}
    {% endif %}
    <a id="js-page__nav__next" class="c-page__nav__next" href="{{ page.next_page.url | relative_url }}">
      {{ page.next_page.title | truncate: 37 }} <span class="u-margin-right-tiny"></span> 〉
    </a>
  {% endif %}
</nav>
