/**
 * The website contains two main components: the sidebar and the textbook page.
 * This file specifies the layout and includes classes to show/hide the sidebar
 * on small screens.
 *
 * The actual styling for the sidebar and page are located in their respective
 * component SCSS files. This file manages the layout and width only.
 *
 * By default, the sidebar is not visible.
 *
 * [1]: The entire page is positioned relative so that when the page overflows
 *   (e.g. sidebar open on small screens) the user can't scroll left/right.
 * [2]: The sidebar and the textbook page are positioned absolute so that we
 *   can use translate() on the textbook page to reveal the sidebar.
 * [3]: Setting the background color hides the sidebar when it's behind the
 *   page (otherwise the page is transparent).
 *
 * When the sidebar is visible:
 *
 * [4]: Shift the textbook page over to the left. On small screens, the page
 *   will overflow since the sidebar takes up most of the screen.
 * [5]: On larger screens, the page and sidebar have enough room to read them
 *   simultaneously, so make sure that the page doesn't overflow.
 */

.c-textbook {
  /* [1] */
  position: relative;
  height: 100vh;
  overflow: hidden;

  max-width: $page-max-width;
  margin: 0 auto;
}

.c-textbook__sidebar,
.c-textbook__page {
  /* [2] */
  position: absolute;
  height: 100vh;
  overflow: auto;
  background-color: white; /* [3] */
}

.c-textbook__sidebar {
  width: $sidebar-width;
}

.c-textbook__page {
  width: 100%;

  transition: transform 250ms ease;
}

.js-show-sidebar {
  .c-textbook__page {
    /* [4] */
    transform: translate($sidebar-width, 0);

    @include mq($from: tablet) {
      /* [5] */
      width: calc(100% - #{$sidebar-width});
    }
  }
}

// Scrollbar width
::-webkit-scrollbar {
  width: 5px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

main, nav {
  scrollbar-width: thin;
}