.c-sidebar-toggle {
  margin-bottom: $spacing-unit;
}

.c-sidebar-toggle__label {
  @include inuit-font-size(12px);
  display: inline-block;
  margin-left: $spacing-unit-tiny;
  vertical-align: middle;
  text-transform: uppercase;
}
