.c-topbar__label {
  @include inuit-font-size(12px);
  display: inline-block;
  margin-left: $spacing-unit-tiny;
  vertical-align: middle;
  text-transform: uppercase;
}

.c-topbar {
  .hamburger, .buttons {
    float: left;
  }

  #js-sidebar-toggle {
    margin-right: 5px;
    padding-top: 4px;
  }

  span.hamburger-box {
    width: 40px;
    height: 30px;
    padding-left: 10px;
  }

  .c-topbar__buttons {
    @include mq($from: tablet) {
      width: calc(100% - #{$right-sidebar-width} - 20px)
    }
  }

  .topbar-right-button {
    display: block;
    float: right;
    padding: 0 1rem;

    img {
      width: 20px;
      margin-top: 4px;
    }
  }
}

// Download buttons

.download-buttons {
  display: none;
  position: absolute;

  button {
    min-width: 100px !important;
    border: 1px white solid !important;
    border-radius: 0 !important;
  }
}

.download-buttons-dropdown {
  position: relative;
  display: inline-block;

  &:hover div.download-buttons {
    display: block;
  }

  img {
    height: 18px;
  }
}
