
.thebelab-cell {
    // To ensure that thebelab cells are always the top of the Z-stack
    position: relative;
    z-index: 999;
}

.thebelab-button {
    z-index: 999;
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0px 1px;
    border-radius: 0.12em;
    box-sizing:  border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
    background-color: #dddddd;
    border: 0.05em solid white;
    color: #000000;
}

.thebelab-button:hover{
    border: 0.05em solid black;
    background-color: #fcfcfc;
}


div.jp-OutputArea-output {
    padding: 5px;
}
