/**
 * Styling for the Next Page / Previous Page links at the bottom of textbook
 * pages.
 */

$color-nav-links: rgba(0, 140, 255, 0.7);

.c-page__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-page__nav__prev,
.c-page__nav__next {
  flex: 1;

  color: $color-nav-links;

  border: 1px solid $color-nav-links;
  border-radius: 3px;

  padding: $spacing-unit-small 0;
}

.c-page__nav__next {
  text-align: right;
}
