/* Copy buttons */
.copybtn {
  position: absolute;
  top: 0;
  right: 0;

  margin: $spacing-unit-tiny;
  width: $spacing-unit;
  height: $spacing-unit;
  padding: 0 4px 2px;

  i {
    font-style: normal;
    color: #777777
  }
}

.input_area .highlight, .text_cell_render .highlight {
  position: relative;
}
